/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

body {
  background-color: pink;
  transition: background-color 3s linear;
  background-image: linear-gradient(0deg, #d499aeb0, #e6b1afb0);
}

body.inverted {
  background-color: cyan;
}

n7e-ondaarun {
  opacity: 0;
}

.hidden {
  display: none;
}

#github {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

#redcross {
  position: absolute;
  top: 0px;
  left: 43px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

.banner-off-screen {
  top: -32px !important;
  opacity: 0.5;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

#offline-resources {
  display: none;
}
