/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
  background-image: url(assets/background.png),linear-gradient(0deg, #d499ae, #e6b1af);
  */
  background-image: linear-gradient(0deg, #d499aeb0, #e6b1afb0);

  background-color: pink;
  transition: background-color 3s linear;
}

body.inverted {
  background-color: cyan;
}

.hidden {
  display: none;
}

#github {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

#facebook {
  position: absolute;
  top: 0px;
  left: 43px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

#twitter {
  position: absolute;
  top: 0px;
  left: 86px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

#redcross {
  position: absolute;
  top: 0px;
  left: 129px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}

.banner-off-screen {
  top: -32px !important;
  opacity: 0.5;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

#offline-resources {
  display: none;
}
